In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np 
import os
import time
from tqdm import tqdm

In [2]:
file_path = os.listdir('cleaned_data')
file_path = [x[:-4] for x in file_path]
# file_path

In [3]:
df = pd.read_csv('whole.csv',index_col=0)

In [18]:
start_time = time.time()
total_dict = {}
for j in tqdm(range(1)):
# for j in range(1):
    one_industry_index = {}
    one_industry = df[df['industry']==file_path[j]]
    days = one_industry['日期'].drop_duplicates()
    for i in range(len(days)):
        one_industry_one_day = one_industry[one_industry['日期']==days[i]]
        one_industry_one_day['weight']=one_industry_one_day['总市值(元)']/sum(one_industry_one_day['总市值(元)'])
        one_industry_one_day_index = sum(one_industry_one_day['收盘价(元)']*one_industry_one_day['weight'])
        # print(one_industry_one_day_index)
        # one_industry_index.append(one_industry_one_day_index)
        one_industry_index[days[i]]=one_industry_one_day_index
    # if j%10==0:
    #     print(one_industry_index)
    total_dict[file_path[j]] = one_industry_index
end_time = time.time()
print('time claupse: ',end_time-start_time)

  0%|          | 0/1 [00:00<?, ?it/s]<ipython-input-18-4e2caa708ffe>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_industry_one_day['weight']=one_industry_one_day['总市值(元)']/sum(one_industry_one_day['总市值(元)'])
100%|██████████| 1/1 [00:06<00:00,  6.20s/it]time claupse:  6.199864149093628

In [19]:
# total_dict
all_index = pd.DataFrame(total_dict)

In [20]:
# all_index.to_csv('all_year_index.csv')

In [21]:
all_index

                家具制造业
2010-01-04   7.124950
2010-01-05   7.184151
2010-01-06   7.046548
2010-01-07   6.859753
2010-01-08   6.851040
...               ...
2020-12-25  66.207000
2020-12-28  68.805875
2020-12-29  68.223756
2020-12-30  69.128806
2020-12-31  72.903525

[2674 rows x 1 columns]

## year by year

In [22]:
# all_year = pd.read_csv('all_year_index.csv',index_col=0)

In [23]:
all_index =all_index.diff()/all_index
all_index

               家具制造业
2010-01-04       NaN
2010-01-05  0.008241
2010-01-06 -0.019528
2010-01-07 -0.027231
2010-01-08 -0.001272
...              ...
2020-12-25 -0.031010
2020-12-28  0.037771
2020-12-29 -0.008532
2020-12-30  0.013092
2020-12-31  0.051777

[2674 rows x 1 columns]

In [24]:
all_index['year'] = [x[:-6] for x in all_index.index]

In [25]:
all_index

               家具制造业  year
2010-01-04       NaN  2010
2010-01-05  0.008241  2010
2010-01-06 -0.019528  2010
2010-01-07 -0.027231  2010
2010-01-08 -0.001272  2010
...              ...   ...
2020-12-25 -0.031010  2020
2020-12-28  0.037771  2020
2020-12-29 -0.008532  2020
2020-12-30  0.013092  2020
2020-12-31  0.051777  2020

[2674 rows x 2 columns]

In [24]:
years = all_year['year'].drop_duplicates()
for i in years:
    corr_1y = all_year[all_year['year']==i].corr()
    # print(corr_1y)
    corr_1y.to_csv(f'{i} corr.csv')